.StarterButton {
  padding: 20px 20px;
}

.StarterButton>button {
  color: #000;
  border-radius: 4px;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
}

.StarterButton>button:hover {
  background-color: #fff;
}