.ChildButton {
  padding: 20px 20px;
  background-color: yellow;
}

.ChildButton>button {
  color: #000;
  border-radius: 4px;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
}

.ChildButton>button:hover {
  background-color: #fff;
}